$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

/* COLOR SCHEME */
$cream: #ffffe3;
$turquoise: #00a5a6;
$turquoise-dark: rgba(0, 91, 99, 0.65);
$hot-pink: #FF2468;
$hot-pink-hover: #FF004F;
$dark-gray: #464646;

body {
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: $dark-gray;
  background-color: #ffffe3;
  margin: 0;
  display: block;
}

.btn-pink{
  background-color: $hot-pink;
  color: $cream;
}

.btn-pink:hover{
  background-color: $cream;
  color: $hot-pink;
  border-color: $hot-pink;
}

//.btn-pink:hover{
//  background-color: $hot-pink-hover;
//  color: $cream;
//  border-color: $cream;
//}

#download-btn{
  margin-bottom: 8px;
  float: right;
}

.navbar-default .navbar-brand {
  color: $cream;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffe3;
  background-color: rgba(0, 91, 99, 0.65)
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffe3;
  background-color: none
}

.navbar-default {
  background-color: #00a5a6;
  border-color: #00a5a6;
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffe3;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffe3;
  background-color: #005b63;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");




.center {
  margin: 0 auto;
  width: 95%;
}

#video-container{
  text-align: center;
}


/*====================================
=            DROPDOWN NAV            =
====================================*/


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}



/*=====================================
=            PROJECTS PAGE            =
=====================================*/
div.project-header{
  padding: 10px;
}

div#project-container{
  margin: 0 auto;
  padding: 0;
}

div.project{
  //display: inline;
  background: rgb(0, 165, 166);
  padding: 15px;
  margin: 10px auto 40px auto;
  vertical-align: middle;
  border-radius: 10px;
  width: 95%;
}

div.project-title{
  padding: 10px 5px;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
div.project-title.adpi{
  height: 50px;
}

.project img{
  float: left;
  background: rgba(0, 91, 99, 0.12);
  border-radius: 5px;
  padding: 10px;
  margin-top:-6px;
}
.project img.horizontal{
  margin: 0 5px;
  width:190px;
}
.project img.vertical{
  padding: 2px;
  margin: -14px 3px 5px 2px;
  height: 60px;
}
.project div.header{
  display: inline-block;
  padding: 0px;
  margin-top: 5px;
  color: white;
}
.project a:hover{
  color: white;
}
.project .header h2{
  font-size: 20px;
  display: inline;
  padding:5px 2px;
  margin-top:-8px;
}
.project .header h3{
  font-size: 18px;
  display: inline;
  padding:5px 2px;
  margin-top: 15px;
}
.project .header.adpi{
  margin-top:0;
}
.project .header.adpi h2{
  font-size: 22px;
}
.project .header.adpi h3{
  font-size: 20px;
}
.project ul{
  display: block;
}
.project li a{
  text-decoration: underline;
  color: white;
}
.project a{
  text-decoration:none;
  color: white;
}
.project a:hover{
  text-decoration: underline;
  color: white;
}
.project .adpi-web div.compare{
  margin: 5px;
  display: inline-block;
}
.project .adpi-web div.compare h3{
  margin: 15px auto;
}
.project img:hover{
  opacity: 0.9;
}

.project .description{
  font-family: 'Droid Sans', sans-serif;
}

/*-----  End of PROJECTS PAGE  ------*/




div.contact-form{
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #005b63;
  background-color: #ffffe3;
  margin: 0;
  padding: 10px;
  display: block;
}

div.contact-form label,
span#contact-success{
  font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.428571429;
  color: #00a5a6;
  margin: 0 0 10px 20px;
  padding: 5px;
}

div.contact-form #message{
  margin-left: 20px;
}

.contact-form input,
.contact-form textarea{
  background: #e0d4b1;
  margin: 2px 10px;
  padding:2px;
  line-height: 1.8;
  outline: none;
  background: #e0d4b1;
  border: solid 3px #ffffe3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus{
  border-color: rgba(0, 165, 166, 0.68);
}

.contact-form h2{
  font-family: 'Lobster', cursive;
  color: #FF2468;
  text-align: left;
  padding: 10px 20px 15px 20px;
  margin: 0;
  font-size: 20px;
}

.contact-form input[type="button"]{
  float: right;
  margin: 10px 21px 0 0;
  color: #00a5a6;
  border: 2px solid #ffffe3;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.contact-form input[type="button"]:hover{
  border-color: #00a5a6;
}

.social-container{
  text-align: center;
  padding: 10px 10px 10px 0;
}

.contact-button{
  padding: 10px;
  color: #00a5a6;
}
.contact-button i{
  padding: 5px 10px;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

a.contact-button:hover{
  color: #005b63;
}

.contact-button i:hover{
  background-color: rgba(224, 212, 177, 0.25);
}

canvas {
  padding: 5px;
  border: 1px solid black;
}
.pdf-viewer button {
  color: black;
}

.pdf-viewer {
  display: flex;
}

.pdf-viewer .buttons{
  margin: 0 auto;
  display: block;
}

.pdf {
  margin: 0 auto;
  display: table;
}

.navbar{
  margin-bottom: 0;
}

.raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: $turquoise;
  margin-bottom: 10px;
}

.about-me {
  width: 75%;
  font-size: 18px;
  margin: 0 auto;
  padding-bottom: 35px;
  text-align: center;
}

/* CODEIVATE STATS ON MAIN PAGE */
.codeivate-stats {
  font-size: 15px;
  color: $turquoise;
  display: inline;
  margin: 0 auto;
  text-align: center;
  width: 50%
}

.current-language {
  font-weight: bold;
  font-size: 17px;
  color: $hot-pink;
  display: inline;
}

.codeivate-thanks {
  font-size: 9px;
  padding: 10px;
}

a.hide-link:hover {
  color: inherit;
  text-decoration: none;
}

a.hide-link {
  color: inherit;
}

.codeivate-wrap {
  margin: 0 auto;
  text-align: center;
  width: 50%
}

.codeivate-stats:hover .codeivate-wrap {
  border: 1px solid $turquoise;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $hot-pink;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $cream;
}

$user-pic-size: 300px;

$user-pic-mobile-size: 150px;



.header {
  border: none;
}

.parallax-header:hover{
  text-decoration: underline;
}
.katie-pic {
  width: $user-pic-mobile-size;
  padding: 2px;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 15px;
}

.circle-image {
  width: $user-pic-mobile-size;
  height: $user-pic-mobile-size;
  border-radius: 50%;
  background-image: url("../images/ktsteinberg.jpg");
  display: block;
  background-position: 77% 25%;
  background-size: 250%;
  background-repeat: no-repeat;
}

#name-container {
  font-family: 'Lobster', cursive;
  color: #FF2468;
  text-align: center;
  padding: 0 10px 0px 5px;
  font-size: 55px;
}

@media (min-width: $screen-md-min) {
  #name-container {
    font-family: 'Lobster', cursive;
    color: #FF2468;
    text-align: center;
    padding: 0 40px 5px 20px;
    font-size: 95px;
  }

  .katie-pic {
    width: $user-pic-size;
    padding: 2px;
    margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 15px;
  }

  .circle-image {
    width: $user-pic-size;
    height: $user-pic-size;
    border-radius: 50%;
    background-image: url("../images/kt-seattle.png");
    display: block;
    background-position: 74% 60%;
    background-size: 210%;
    background-repeat: no-repeat;
  }

  .raleway {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: $turquoise;
    margin-bottom: 10px;
  }

  .about-me{
    font-size: 18px;
    width: 80%;
  }

  .codeivate-stats {
    font-size: 22px;
    color: $turquoise;
    display: inline;
    margin: 0 auto;
    text-align: center;
    width: 50%
  }

  .current-language {
    font-weight: bold;
    font-size: 26px;
    color: $hot-pink;
    display: inline;
  }

  .codeivate-thanks {
    font-size: 12px;
    padding: 10px;
  }

  .contact-form h2{
    font-family: 'Lobster', cursive;
    color: #FF2468;
    text-align: left;
    padding: 10px 20px 15px 20px;
    margin: 0;
    font-size: 60px;
  }


  /* PROJECTS SECTION */
  .project .header.adpi h2{
    font-size: 34px;
  }
  .project .header.adpi h3{
    font-size: 26px;
  }

  .project li{
    margin: 10px 30px 5px 15px;
    font-size: 18px;
    line-height: 25px;
  }
  div.project{
    //display: inline;
    background: rgb(0, 165, 166);
    padding: 15px;
    margin: 10px auto 40px auto;
    vertical-align: middle;
    border-radius: 10px;
    width: 95%;
  }

  div.project-title.adpi{
    height: 105px;
  }

  .project img{
    float: left;
    background: rgba(0, 91, 99, 0.12);
    border-radius: 5px;
    padding: 10px;
    margin-top:-6px;
  }
  .project img.horizontal{
    margin: 0 5px;
    width:240px;
  }
  .project img.vertical{
    padding: 2px;
    margin: -14px 3px 5px 2px;
    height: 100px;
  }
  .project div.header{
    display: inline-block;
    margin-left: 15px;
    margin-top: -6px;
    color: white;
  }
  .project a:hover{
    color: white;
  }
  .project .header h2{
    font-size: 28px;
    display: inline;
    padding:5px 2px;
    margin-top:-8px;
  }
  .project .header h3{
    font-size: 24px;
    display: inline;
    padding:5px 2px;
    margin-top: 15px;
  }

  .center {
    margin: 0 auto;
    width: 80%;
  }

  /* END PROJECTS SECTION */
}
