/*
Syntax error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.
              Load path: /Users/steinbergkh/Documents/Programming/personal-website/app/styles
        on line 3 of main.scss

1: $icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
2: 
3: @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
4: 
5: /* COLOR SCHEME *\/
6: $cream: #ffffe3;
7: $turquoise: #00a5a6;
8: $hot-pink: #FF2468;

Backtrace:
main.scss:3
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/scss:23:in `load'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/scss:23:in `<main>'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/steinbergkh/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.\A               Load path: /Users/steinbergkh/Documents/Programming/personal-website/app/styles\A         on line 3 of main.scss\A \A 1: $icon-font-path: \"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/\";\A 2: \A 3: @import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';\A 4: \A 5: /* COLOR SCHEME */\A 6: $cream: #ffffe3;\A 7: $turquoise: #00a5a6;\A 8: $hot-pink: #FF2468;"; }
