node_modules
public
.tmp
.sass-cache
app/bower_components
heroku
/views
.idea/*
.idea
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/modules.xml
.idea/workspace.xml
.idea/workspace.xml
