/* Credit: http://www.templatemo.com */

body { 
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 12px;
	line-height: 24px; 
	background-color: #000;
	background-image: url(images/templatemo_body.jpg);
	background-position: center top;
	background-repeat: no-repeat
}