<div itemscope itemtype="http://data-vocabulary.org/Person">
<div id="name-container"><span itemprop="name">Katie Steinberg</span></div>
<div class="raleway about-me">
    I'm a senior studying computer science at the University of Michigan in Ann Arbor.
    I am a <span itemprop="title">web developer</span> for the
    <span itemprop="affiliation">Integrative Systems + Design division of the College of Engineering at Michigan</span>.
</div>
<div class="codeivate-stats raleway" ng-show="codeivate.programming_now">
    <a class="hide-link" href="http://codeivate.com/users/steinbergkh">
        <div class="codeivate-wrap">
            I'm currently coding in
            <div class="current-language">
                {{codeivate.current_language}}
            </div>

            <div class="codeivate-thanks">
                <img src="images/codeivate-logo.png" height="15px" width="15px" class="codeivate-logo">
                thanks for the stats codeivate!
            </div>
        </div>
    </a>
</div>
</div>