<div ng-include="'partials/navbar'"></div><div class="container">
<div itemscope itemtype="http://data-vocabulary.org/Person">
<div id="name-container"><span itemprop="name">Katie Steinberg</span></div>
    <div class="katie-pic">
        <div class="circle-image"></div>
    </div>
  <div class="codeivate-stats raleway" ng-show="codeivate.programming_now">
    <a class="hide-link" href="http://codeivate.com/users/steinbergkh">
      <div class="codeivate-wrap">
        I'm currently coding in
        <div class="current-language">
          {{codeivate.current_language}}
        </div>

        <div class="codeivate-thanks">
          <img src="images/codeivate-logo.png" height="15px" width="15px" class="codeivate-logo">
          thanks for the stats codeivate!
        </div>
      </div>
    </a>
  </div>
    <div class="raleway about-me">
      <p>Hello my name is Katie Steinberg. I am a 21 year old programmer and this May I will graduate from the
        University of Michigan with a degree in Computer Science. If I had to describe myself in a few words
        (or a hashtag) those words would be "enthusiasm unknown to mankind." When I decide to pursue something
        I put all of myself into that thing. As a result I’m a certified bartender, skydiver, and now a certified
        computer scientist. To do all of these things I like to break tasks up into their individual parts. When
        you jump out of a plane, there are a million things going on. There are a lot of tiny things to accomplish
        in a short amount of time in order to have an enjoyable and safe skydive. Skydiving is a very daunting sport,
        but it’s a lot more conquerable when it’s broken up into small steps. This is also how I attack life. One
        day at a time, one thing at a time, to the best of my ability.</p>

      <p>I have been this way for as long as I can remember. I see what I want and I work until I have it no matter
        what obstacles lie in the way. In the third grade I was still going by my given name, Caitlin. However, I
        grew tired of this name and wanted to be called Katie. So one day, I told my teacher, “I’m going to go by
        Katie now, okay?” The other Katy in the class was not too happy about it, but I convinced her it was for
        the best. I’ve continued this habit of setting my sights on something and taking it, albeit with a little
        more grace, as I’ve grown older.</p>

      <p>I don’t just take for myself though, I have used my talents and passion to help others. When I saw my friend
        copying and pasting 800 emails from a website, I wrote a Python script that did it for her. When I realized
        how difficult the class scheduling process was, I worked with a team on a web application to make it easier.
        When I developed an easier way to test my C++ projects at Michigan, I open sourced it, so everyone can
        benefit.</p>

      <p>Beneath all of my passion, I know that it’s important not to take yourself too seriously. If I’m not
        skydiving or coding, I’m probably looking at baby elephant gifs, dreaming that my future child is on master
        chef junior, or building pizzas online that I never order. Like everyone else, I love unlikely animal
        pairings, and hate that yogurt cups can never handle the weight of a spoon.</p>
</div>

</div></div>
