<link rel="stylesheet" href="styles/parallax.css">
<div class="main" skrollr-tag>
    <section id="slide-1" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-anchor-target="#slide-1">
        </div>
    </section>

    <section id="slide-2" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 10psx;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-2">
        </div>
    </section>

    <section id="slide-3" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-3">
         </div>
    </section>

    <section id="slide-4" class="homeSlide">
        <div class="bcg"
             data-center="background-position: 50% 0px;"
             data-top-bottom="background-position: 50% -100px;"
             data-bottom-top="background-position: 50% 100px;"
             data-anchor-target="#slide-4">
        </div>
    </section>
</div>