<div id="name-container">Projects</div>
<div id="project-container" class="center">
    <div class="project center">
        <div class="project-title">
            <a href="http://isd.engin.umich.edu">
                <img src="images/isd-wordmark.png" class="project horizontal">

                <div class="header">
                    <h2>Integrative Systems + Design</h2><br>
                    <h3>Content Management System</h3>
                </div>
            </a>
        </div>
        <ul>
            <li>Developed a customized content management system using Java, Tomcat, Turbine, Ajax, and jQuery</li>
            <li>Allows the marketing team to easily publish and modify website content</li>
            <li>Wrote <a href="http://isd.engin.umich.edu/CMS-user-guide/editing-a-page.htm" style="text-decoration:underline; color:white; ">detailed documentation</a> for the finished CMS and led training sessions for technical and non-technical users</li>
        </ul>
    </div>
    <div class="project center">
        <div class="project-title">
            <a href="http://dividend-calculator.herokuapp.com/">

                <div class="header">
                    <h2>Dividend Growth Calculator</h2><br>
                </div>
            </a>
        </div>
        <ul>
            <li><a href="http://dividend-calculator.herokuapp.com/">http://dividend-calculator.herokuapp.com/</a></li>
            <li>An online tool used for calculating growth of a portfolio using a dividend reinvestment strategy</li>
            <li>Built with AngularJS</li>
            <li>This project's still in progress!</li>
        </ul>
    </div>
    <div class="project center adpi">
        <div class="project-title adpi">
            <a href="http://www.umichadpi.com">
                <img class="vertical adpi" src="images/ADPi_Crest.png">
                <div class="header adpi">
                    <h2 class="adpi">Alpha Delta Pi Sorority</h2><br>
                    <h3 class="adpi">Website Redesign</h3>
                </div>
            </a>
        </div>
        <div class="adpi-web">
            <div class="compare">
                <h3><a href="http://www.umichadpi.com">New Website - umichadpi.com</a></h3>
                <ul>
                    <li>Switched from using wix.com to a custom CMS based on AngularJS, node.js, and mongodb</li>
                    <li>Created a custom admin dashboard for uploading, tagging, and managing photos</li>
                    <!--<li>Created a custom admin dashboard for uploading, tagging, and managing photos</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>