<div id="name-container">Projects</div>
<div id="project-container" class="center">
    <div class="project center">
        <div class="project-title">
            <a href="http://isd.engin.umich.edu">
                <img src="images/isd-wordmark.png" class"project horizontal">
                <div class="header">
                    <h2>Integrative Systems + Design</h2><br>
                    <h3>Content Management System</h3>
                </div>
            </a>
        </div>
        <ul>
            <li>Developed a customized content management system using Java, Tomcat, Turbine, Ajax, and jQuery</li>
            <li>Allows the marketing team to easily publish and modify website content</li>
            <li>Wrote <a href="http://isd.engin.umich.edu/CMS-user-guide/editing-a-page.htm" style="text-decoration:underline; color:white; ">detailed documentation</a> for the finished CMS and led training sessions for technical and non-technical users</li>
        </ul>
    </div>
    <div class="project center adpi">
        <div class="project-title adpi">
            <a href="http://www.umichadpi.com">
                <img class="vertical adpi" src="images/ADPi_Crest.png">
                <div class="header adpi">
                    <h2 class="adpi">Alpha Delta Pi Sorority</h2><br>
                    <h3 class="adpi">Website Redesign</h3>
                </div>
            </a>
        </div>
        <div class="adpi-web">
            <div class="compare">
                <h3><a href="http://adpiuofm.wix.com/adpi-1">Current Website - adpiuofm.wix.com/adpi-1</a></h3>
                <ul>
                    <li>Uses a free, but confusing, domain name from wix</li>
                    <li>Overwhelms user with too many options</li>
                    <li>Photo galleries, one of the main uses of the site, are unintuitive and frustrating to update each year</li>
                </ul>
            </div>
            <div class="compare">
                <h3><a href="http://www.umichadpi.com">New Website - umichadpi.com</a></h3>
                <ul>
                    <li>Switched pages from static to dynamic content</li>
                    <li>Uses custom domain</li>
                    <li>Drag and drop image uploader</li>
                    <li>User has ability to add "tags" to images</li>
                    <ul>
                        <li>USE CASE: Tagging any photo of the current senior class as "PC-2010", a search for "PC-2010" can then be used to remove images of girls after they have graduated.</li>
                        <li>USE CASE: A photo of girls volunteering for Ronald McDonald House could be tagged as both "sisterhood" and "philanthropy," and when creating photo galleries, the webmaster can decide at a later time which photo gallery it best belongs in.</li>

                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>