<div id="name-container">Resources</div>
<div id="project-container" class="center">
    <div class="project center" id="eecs370">
        <div class="project-title">
                    <h2>EECS 370 - Introduction to Computer Architecture</h2>
                    <p>Project specs for this class are formatted in plain text which is difficult to read, so I made prettier versions</p>
        </div>
        <p>PROJECTS</p>
        <ul>
            <li><a href="/resources/eecs370/project2">Project 2 Specs</a></li>
            <li><a href="/resources/eecs370/project3">Project 3 Specs</a></li>
            <li><a href="/resources/eecs370/project4">Project 4 Specs</a></li>
        </ul>
        <p>NOTES</p>
        <ul>
            <li><a href="/resources/eecs370/cache-notes">Cache notes</a></li>
            <li><a href="/resources/eecs370/lc2k-instructions">LC2K Instructions reference sheet</a></li>
        </ul>
    </div>

    <div class="project center" id="eecs484">
        <div class="project-title">
                    <h2>EECS 484 - Database Management</h2>
                    
        </div>
        <p>PROJECTS</p>
        <ul>
            <li><a href="/resources/eecs484/project4">Project 4</a></li>
        </ul>
    </div>
</div>