<div class="container resources" id="eecs370p3">
    <h1 id="title">EECS 370 -- LC2K Instructions</h1><br>

<div class="col-sm-12" id="tbl_display">
    <table class="table table-striped table-bordered">
        <thead style="background-color: rgba(128, 128, 128, 0.68);
font-size: 24px;">
            <tr>
                <th style="text-align: center;">Instruction Type</th>
                <th style="text-align: center;">Instruction Name</th>
                <th style="text-align: center;">Opcode in binary</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: lightgray; text-align: center; vertical-align: middle; font-size: 20px;" rowspan="2"><b>R-type format</b></td>
                <td>add</td>
                <td>000</td>
                <td>destReg = regA + regB</td>
            </tr>
            <tr>
                <td>nand</td>
                <td>001</td>
                <td>destReg = !(regA &amp; regB) OR  ~(regA &amp; regB) (bitwise NOT)</td>
            </tr>
            <tr>
                <td style="background-color: lightgray; text-align: center; vertical-align: middle; font-size: 20px;" rowspan="3"><b>I-type format</b></td>
                <td>lw</td>
                <td>010</td>
                <td>regB = MEM[regA + OFFSET]</td>
            </tr>
            <tr>
                <td>sw</td>
                <td>011</td>
                <td>MEM[regA + OFFSET] = regB</td>
            </tr>
            <tr>
                <td>beq</td>
                <td>100</td>
                <td>if(regA == regB)  PC = PC + 1 + OFFSET</td>
            </tr>
            <tr>
                <td style="background-color: lightgray; text-align: center; vertical-align: middle; font-size: 20px;"><b>J-type format</b></td>
                <td>jalr</td>
                <td>101</td>
                <td>regB = PC + 1;  PC = regA</td>
            </tr>
            <tr>
                <td style="background-color: lightgray; text-align: center; vertical-align: middle; font-size: 20px;" rowspan="2"><b>O-type format</b></td>
                <td>halt</td>
                <td>110</td>
                <td>Increment the PC then halt the machine</td>
            </tr>
            <tr>
                <td>noop</td>
                <td>111</td>
                <td>Do nothing</td>
            </tr>
        </tbody>
    </table>
</div>


</div>